$primary: #767676;
$secondary: #e92569;
$body-bg: #e5e5e5;
$body-color: $primary;
$nav-colour: #efefef;
$nav-colour-text: #0a0a0a;
$input-gray: #c7c7c7;
$navbar-light-toggler-border-color: none;
$accordion-button-icon: none;         
$accordion-button-active-icon: none;
$success: $secondary;

